.instructions  {
    margin-top: 160px !important;
    background-color: lightgreen;
    font-style: oblique;
}

@media (min-width: 576px)  { 
    .instructions  {
        margin-top: 80px !important;
    }
}